/TP1/grep/build/
/TP1/Cliente/build/
/TP1/Servidor/build/
/TP1/Servidor/dist/
/TP1/Cliente/dist/
/TP1/grep/dist/
/TP1/NovaVersao/Servidor/dist/
/TP1/NovaVersao/Servidor/build/
/TP1/NovaVersao/ClienteAplicacao/build/
/TP1/NovaVersao/ClienteAplicacao/dist/
/TP1/NovaVersao/ClienteBackground/build/
/TP1/NovaVersao/ClienteBackground/dist/
/TP2/P2P/build/
/TP2/P2P/dist/
/TP2-Nova Versao/P2P/build/